*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    background-color: #8e44ad;
    background-image: linear-gradient(rgba(22, 23, 27, 0.7),rgba(3, 21, 95, 0.7));
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}
.logo{
    position: relative;
    top: -2.5%;
    left: 1.5%;
    height: 190px;
    width: 200px;
}       
nav{
    float: right;
    padding: 56px 45px;
    height: 50px;
    width: 500px;
    white-space: nowrap;
}
ul{
    
    font-family: 'Roboto Condensed';
}
ul li{
    display: inline-block;
    padding: 0px 15px 0px 15px;
    margin-right: 20px;
    font-size: 22px; 
}
ul li a{
    text-decoration: none;
    color:#f5f6fa;
}
ul li a:hover{
    border: 1px solid transparent;
    padding: 5px 10px;
    background-color: white;
    color: black;

}
h1{
    color: white;
    position: absolute;
    top: 41%;
    left : 31.5%;
    height : 70px;
    font-weight: 700;
    text-align: center;
    font-size: 65px;
    font-family:'Staatliches', 'cursive';
}
h4{
    position: absolute;
    color: white;
    top: 49%;
    left: 40%;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
.butt{
    border: 1px ;
    position: absolute;
    height: 50px;
    width: 245px;
    top: 56%;
    left: 45%;
    background-color: tomato;
    color: white; 

}
#butt{
    color: white;
    text-decoration: none;
}
.butt:hover{
    opacity:0.6;
}
.features{
    background-color: #FBFBFB;
    height: 90vh;
    width: 100%;
}
h2{    
    position: relative;
    text-align: center;
    padding: 20px;
    left: 37.2%;
    width: 500px;
    font-size: 50px;
    font-family:'Playfair Display', serif;
}
#pic1{
    position: relative;
    top: -2%;
    left: 7%;
    height: 70vh;
    width: 28vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#G1{
    background-color: #6FEBFB;
    position: absolute;
    top: 111%;
    left:50%;
    list-style-type: none;
    text-align: center;
    height: 32vh;
    width: 350px;
}
h3{
    position: relative;
    top: 52%;
    
}
#G2{
    background-color: #9c88ff;
    position: absolute;
    top: 111%;
    left:70%;
    list-style-type: none;
    text-align: center;
    height: 32vh;
    width: 350px;
}
#G3{
    background-color: #784CF3;
    position: absolute;
    top: 145%;
    left:50%;
    list-style-type: none;
    text-align: center;
    height: 32vh;
    width: 350px;
}
#G4{
    background-color: #AA6EDF;
    position: absolute;
    top: 145%;
    left: 70%;
    list-style-type: none;
    text-align: center;
    height: 32vh;
    width: 350px;
}
#icons{
    position: relative;
    top: 18%;
}
.whyus{
    background:linear-gradient(rgba(22, 23, 27, 0.7),rgba(3, 21, 95, 0.7)), #8e44ad;
    height: 45vh;
    width: 100%;
}
#pic4{
    position: relative;
    top: -20.9%;
    right: -42%;
    height: 40vh;
    width: 30vw;
}
h5{
    position: relative;
    text-align: left;
    font-size: 50px;
    padding-bottom: 11px;
    width: 250px;
}
#txt{
    position: relative;
    text-align: left;
    list-style-type: none;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    top: 20%;
    margin-left: 150px;
}
.Get-touch{
    background-color:#FBFBFB;
    height: 80px;
    width: 100%;
}
h6{
    font-family:'Anton', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}
.footer-bar{
    display: flex;
    list-style-type: none;
}
#G5{
    background-color: #7E42F8;
    position: relative;
    height: 80px;
    width: 640px;
}
#G6{
    background-color: #B28FF9;
    position: relative;
    height: 80px;
    width: 640px; 
}
#G7{
    background-color: #DBCCFB;
    position: relative;
    height: 80px;
    width: 640px; 
}
#icon-1{
    position: relative;
    top: 12%;
    left:20% ;
}
#icon-2{
    position: relative;
    top: 12%;
    left: 12%;
}
#icon-3{
    position: relative;
    top: 12%;
    left:32% ;
}
h7{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative;
    top: -25%;
    left: 30%;
    
}
h8{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    text-align: center;
    position: relative;
    top: -17%;
    left: 20%;
    
}
h9{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    text-align: left;
    position: relative;
    top: -25%;
    left: 36%;
    
}
p2{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    position: relative;
    top: -28%;
    left: 35%;
}
p3{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    position: relative;
    top: -28%;
    left: 25%;  
}
p4{
    font-family: 'Segoe UI Symbol';
    font-size: 25px;
    color: white;
    position: relative;
    top: -28%;
    left: 44%;
}
@media screen and (max-width:480px){
    .nav-bar{
        height: 60vh;
        width: 480px;
    }
    .logo{
        top: -3%;
        left: -1%;
        height: 150px;
        width: 110px;
    }
    nav{
        position: relative;
        top: -2%;
        right: 37%;
        height: 45px;
        width: 120px;
    }
    ul li{
        padding: 0px 2px 0px 2px;
        margin-right: 20px;
        font-size: 12px; 
    }
    h1{
        top: 25%;
        left :7.5%;
        font-size: 28px;
    }
    h4{
        top: 29%;
        left: 12%;
        font-size: 15px;
    }
    .butt{
        top: 34%;
        left: 17%;
        height: 40px;
        width: 232px;
    }
    .features{
        height: 50vh;
        width: 480px;
    }
    #pic1{
        top: -2%;
        left: 4.5%;
        height: 65vh;
        width: 25vw;
    }
    #G1{
        top: 72%;
        left:38%;
        height: 16vh;
        width: 100px;
    }
    h3{
        top: 52%;
        font-size: 13px;

    }
    #G2{
        top: 72%;
        left:60%;
        height: 16vh;
        width: 100px;
    }
    #G3{
        top: 90%;
        left:38%;
        height: 16vh;
        width: 100px;
    }
    #G4{
        top: 90%;
        left: 60%;
        height: 16vh;
        width: 100px;
    }
    h2{    
        padding: 10px;
        left: 8.5%;
        width: 300px;
        font-size: 30px;
    }
    #icons{
        position: relative;
        height: 22px;
        top: 18%;
    }
    #pic1{
        top: 2.5%;
        left: 5%;
        height: 40vh;
        width: 30vw;
    
    }
    .whyus{
        height: 35vh;
        width: 480px;
    }
    #pic4{
        display: none;
    }
    h5{
        position: relative;
        text-align: left;
        font-size: 20px;
        padding-bottom: 10px;
        width: 165px;
    }
    #txt{
        font-size: 15.5px;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        top: 20%;
        margin-left: 18px;
    }
   
    .IC{
        padding-top: 5px;
        height: 20px;
    }
    .Get-touch{
        height: 35px;
        width: 480px;
    }
    h6{
        left: -10%;
        font-size: 15px;
        font-weight: 50;
    }
    #icon-1{
        height: 35px;
        top: 25%;
        left:2.5%;
    }
    #icon-2{
        height: 35px;
        top: 25%;
        left: -1%;
    }
    #icon-3{
        height: 30px;
        top: 25%;
        left:2% ;
    }

    h7{
        font-size: 15px;
        top: -3.5%;
        left: 8%;
        
    }
    h8{
        font-size: 11.2px;
        top: -3.5%;
        left: -1%;
        
    }
    h9{
        font-size: 15px;
        top: 5%;
        left: 5%;
        
    }
    p2{
        font-size: 15px;
        top: -2.5%;
        left: 25%;
    }
    p3{
        font-size: 15px;
        top: -2.5%;
        left: 18%;  
    }
    p4{
        font-size: 15px;
        top: 3.5%;
        left: 25%;
    }

}



